@import "../../data/styles.css";

.homepage-logo-container {
	display: flex;
	justify-content: left;
	align-items: center;
	background-color: black;
}

.homepage-container {
	padding-top: 25px;
}

.homepage-first-area {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.homepage-first-area-left-side {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.homepage-title {
	width: 85% !important;
}

.homepage-subtitle {
	width: 85% !important;
}

.homepage-first-area-right-side {
	display: flex;
	align-items: center;
}

.homepage-image-container {
	width: 370px;
	height: 370px;
}

.homepage-image-wrapper {
	overflow: hidden;
	border-radius: 10%;
	transform: rotate(3deg);
}

.homepage-image-wrapper img {
	width: 100%;
}

.homepage-socials {
	display: flex;
	justify-content: left;
	align-items: center;
	padding-top: 30px;
}

.homepage-social-icon {
	padding-right: 20px;
	font-size: 25px;
	transition: color 0.2s ease-in-out;
	color: var(--secondary-color);
}

.homepage-social-icon:hover {
	color: var(--primary-color);
}

.homepage-after-title {
	display: flex;
}

.homepage-projects {
	flex-basis: 300px;
}

.homepage-articles {
	flex-basis: 900px;
	padding-top: 30px;
	margin-left: -30px;
}

.homepage-article {
	padding-bottom: 5px;
}

.homepage-works {
	flex-basis: 600px;
	padding-top: 30px;
}

.homepage-content {
	font-size: 14px;
	text-align: justify;
    margin-top: 5px;
}

@media (max-width: 1024px) {
	.homepage-first-area {
		flex-direction: column;
	}

	.homepage-first-area-left-side {
		display: flex;
		flex-direction: column; /* Changed: set direction to column */
		align-items: flex-start;
		width: 100%;
		order: 2;
	}

	.homepage-title {
		width: 100% !important;
		margin-top: 20px;
		order: 2;
	}

	.homepage-subtitle {
		width: 100% !important;
		margin-top: 10px;
		order: 3;
	}

	

	.homepage-first-area-right-side {
		width: 100%;
		order: 1;
	}

	.homepage-image-container {
		padding-top: 50px;
		padding-bottom: 50px;
		margin-left: 10px;
		order: 1;
	}

	.homepage-after-title {
		flex-direction: column;
	}

	.homepage-projects {
		flex-basis: auto;
	}

	.homepage-articles {
		flex-basis: auto;
	}

	.homepage-works {
		flex-basis: auto;
		margin-left: -25px;
		margin-right: -25px;
	}
}

.navbar input[type="checkbox"],
.navbar .hamburger-lines {
  display: none;
}

.navbar {
  box-shadow: 0px 5px 10px 0px #aaa;
  position: fixed;
  width: 100%;
  background: #fff;
  color: #000;
  opacity: 0.85;
  height: 50px;
  z-index: 12;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 64px;
  align-items: center;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

.menu-items {
  order: 2;
  display: flex;
}

.menu-items li {
  list-style: none;
  margin-left: 1.5rem;
  font-size: 1rem;
}

.menu-items a {
  text-decoration: none;
  color: #444;
  font-weight: 600;
  transition: color 0.3s ease-in-out;
}

.menu-items a:hover {
  color: #117964;
  transition: color 0.3s ease-in-out;
}

.logo {
  order: 1;
  font-size: 2.3rem;
}

@media (max-width: 768px) {
	.navbar {
	  opacity: 0.95;
	  max-width: 1000px;
	  margin: 0 auto;
	}
  
	.navbar-container input[type="checkbox"],
	.navbar-container .hamburger-lines {
	  display: block;
	}
  
	.navbar-container {
	  display: block;
	  position: relative;
	  height: 64px;
	}
  
	.navbar-container input[type="checkbox"] {
	  position: absolute;
	  display: block;
	  height: 32px;
	  width: 30px;
	  top: 20px;
	  left: 20px;
	  z-index: 5;
	  opacity: 0;
	}
  
	.navbar-container .hamburger-lines {
	  display: block;
	  height: 23px;
	  width: 35px;
	  position: absolute;
	  top: 17px;
	  left: 20px;
	  z-index: 2;
	  display: flex;
	  flex-direction: column;
	  justify-content: space-between;
	}
  
	.navbar-container .hamburger-lines .line {
	  display: block;
	  height: 4px;
	  width: 100%;
	  border-radius: 10px;
	  background: #333;
	}
  
	.navbar-container .hamburger-lines .line1 {
	  transform-origin: 0% 0%;
	  transition: transform 0.4s ease-in-out;
	}
  
	.navbar-container .hamburger-lines .line2 {
	  transition: transform 0.2s ease-in-out;
	}
  
	.navbar-container .hamburger-lines .line3 {
	  transform-origin: 0% 100%;
	  transition: transform 0.4s ease-in-out;
	}
  
	.navbar .menu-items {
	  padding-top: 100px;
	  background: #fff;
	  height: 100vh;
	  max-width: 300px;
	  transform: translate(-150%);
	  display: flex;
	  flex-direction: column;
	  margin-left: -40px;
	  margin-top: -10px;
	  padding-left: 50px;
	  transition: transform 0.5s ease-in-out;
	  box-shadow: 5px 0px 10px 0px #aaa;
	}
  
	.navbar .menu-items li {
	  margin-bottom: 1.5rem;
	  font-size: 1.3rem;
	  font-weight: 500;
	}
  
	/* .logo {
	  position: absolute;
	  top: 5px;
	  right: 15px;
	  font-size: 2rem;
	} */
  
	.navbar-container input[type="checkbox"]:checked ~ .menu-items {
	  transform: translateX(0);
	}
  
	.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
	  transform: rotate(35deg);
	}
  
	.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
	  transform: scaleY(0);
	}
  
	.navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
	  transform: rotate(-35deg);
	}
}

@media (max-width: 1270px) {
	.navbar-container {
		max-width: 90%;
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width: 1024px) {
	.navbar-container {
		max-width: 980px;
	}
}

@media (max-width: 800px) {
	.navbar-container {
		max-width: 90%;
		margin: 0 auto;
		padding: 0 10px;
	}
}