.MuiBox-root { 
	padding-top: 2rem;
	max-width: 1000px;
	margin: 0 auto;
}

@media (max-width: 1270px) {
	.MuiBox-root {
		max-width: 90%;
		padding-left: 10%;
		padding-right: 10%;
	}
}

@media (max-width: 1024px) {
	.MuiBox-root {
		max-width: 980px;
	}
}

@media (max-width: 800px) {
	.MuiBox-root {
		max-width: 90%;
		margin: 0 auto;
		padding: 2rem 10px 0 10px;
	}
}

.MuiButtonBase-root {
	font-weight: 600!important;
    text-transform: none!important;
}